github "ReactiveCocoa/ReactiveSwift"
github "ReactiveCocoa/ReactiveCocoa"
github "antitypical/Result"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "tristanhimmelman/AlamofireObjectMapper"
github "ashleymills/Reachability.swift"
github "SwiftyJSON/SwiftyJSON"
github "SwifterSwift/SwifterSwift"
github "ReactiveX/RxSwift"
github "stephencelis/SQLite.swift"
github "krzyzanowskim/CryptoSwift"
github "scalessec/Toast-Swift"
github "thii/SwiftHEXColors"
github "MengTo/Spring"