# github "ReactiveCocoa/ReactiveSwift"
# git "https://gitee.com/mirrors/reactiveswift"
# github "ReactiveCocoa/ReactiveCocoa"
# github "antitypical/Result"
# github "Alamofire/Alamofire"
# github "Alamofire/AlamofireImage"
# github "tristanhimmelman/AlamofireObjectMapper"
# github "ashleymills/Reachability.swift"
# github "SwiftyJSON/SwiftyJSON"
# github "SwifterSwift/SwifterSwift"
# github "ReactiveX/RxSwift"
# github "stephencelis/SQLite.swift"
# github "krzyzanowskim/CryptoSwift"
# github "scalessec/Toast-Swift"
# github "thii/SwiftHEXColors"
# github "MengTo/Spring"
# github "xmartlabs/Eureka"
# github "realm/realm-cocoa"
# github "RxSwiftCommunity/RxRealm"
# github "duemunk/Async"
# github "SDWebImage/SDWebImage"
# github "tristanhimmelman/ObjectMapper"
# github "SnapKit/SnapKit"
# github "airbnb/lottie-ios"
# github "hackiftekhar/IQKeyboardManager"
# github "CosmicMind/Material"
# github "facebookarchive/pop"
# github "jezzmemo/JJException"
# github "WenchaoD/FSCalendar"
# github "xmartlabs/XLPagerTabStrip"
# github "patchthecode/JTAppleCalendar"
# github "marcosgriselli/ViewAnimator"
# github "raulriera/TextFieldEffects"
# github "daltoniam/Starscream"
# github "malcommac/SwiftDate"
# github "i-schuetz/SwiftCharts"
# github "MortimerGoro/MGSwipeTableCell"
# github "Tencent/OOMDetector"
# github "luximetr/AnyFormatKit"
# github "SwiftValidatorCommunity/SwiftValidator"
# github "RxSwiftCommunity/RxAnimated"
# github "RxSwiftCommunity/RxAlamofire"
# github "RxSwiftCommunity/RxSwiftExt"
# github "RxSwiftCommunity/RxOptional"
# github "RxSwiftCommunity/RxKeyboard"
# github "mac-cain13/R.swift"
# github "Feijunjie/SSZipArchive" "master"
# github "jonkykong/SideMenu"
# github "SnapKit/Masonry"
# github "RxSwiftCommunity/RxDataSources"
# github "ninjaprox/NVActivityIndicatorView"
# github "ReactiveCocoa/ReactiveObjC"
# github "scalessec/Toast"
# github "fpillet/NSLogger"
# github "CosmicMind/Motion"
github "corpsele/CL"