<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinderExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>FormatterTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>PackTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>PhotoTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>QuicklookTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>SwiftPro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SwiftPro_release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>TodayExtention.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C4DC9F8248779120078AFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF7017524F8F06800999BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF7018924F8F27C00999BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DB5EA922D732110067DD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
